.profile{
  max-width: 600px;
  width: 100%;
  margin: 74px auto;
  &__input{
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 24px;
    margin-top: 7px;
    position: relative;
    padding: 12px 20px;
    width: 100%;
  }
  &__text{
    margin-left: 7px;
    display: flex;
    align-items: center;
  }
  &__edit{
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
  }
  &__about{
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: 100px;
  }
  &__symbols{
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.69);
    margin-left: 7px;
    margin-bottom: 24px;
  }
  &__birthday{
    display: flex;
    grid-gap: 30px;
    margin-top: 7px;
    margin-bottom: 25px;
    &-item{
      border: 1px solid #F0F0F0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 162px;
      height: 50px;
      padding: 15px 53px;
    }
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
  }
  &__btn{
    font-weight: 500;
    padding: 14px 43px;
    background: var(--color-logo);
    border-radius: 10px;
    &-none{
      padding: 15px 66px;
      font-size: 16px;
      line-height: 20px;
      background: none;
      border: 2px solid var(--color-logo);
    }
  }
  &__changes{
    display: flex;
    justify-content: center;
    margin-top: 147px;
    grid-gap: 27px;
  }
  &__password{
    font-size: 15px;
    line-height: 18px;
    color: #1DB3C3;
    text-decoration: underline;
    cursor: pointer;
  }
  &__delete{
    font-size: 15px;
    line-height: 18px;
    color: #FF0000;
    cursor: pointer;
  }
  &__images{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  &__none{
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}