.header{
  padding: 20px 0;
  background: var(--color-theme);
  width: 100%;
  height: 80px;
  & div{
    cursor: pointer;
  }
  &__inner{
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    color: var(--color-logo);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: -7px;
  }
  &__navbar{
    display: flex;
    grid-gap: 20px;
    &-item{
      text-decoration: none;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 34px;
      border: none;
      position: relative;
      transition: all 0.6s;
      &:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #fff;
        transition: all 0.3s;
      }
      &:hover:before {
        width: 100%;
        left: 0;
        background: #fff;
      }
      &_border{
        border: 1px solid #ffffff;
        height: 46px;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 34px;
        &:hover{
          //padding: 14px 26px;
          //margin-top: -6px;
          //height: 54px;
          font-size: 22px;
        }
      }
    }
    &-bell{
      &:hover{
        animation: wiggle 1.2s infinite;
      }
    }
    &-img{
      width: 60px;
      height: 60px;
      margin-top: -10px;
      border-radius: 50%;
      background: var(--color-logo);
      position: relative;
      & img{
        position: absolute;
        top: 20%;
        left: 25%;
      }
      &:hover{
        animation: rotate 3s both infinite;
      }
    }
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate {
  from{
    transform: rotateY(0);
  }
  50%{
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}