.undefined{
  display: flex;
  justify-content: space-between;
  &__oops{
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    margin-top: 114px;
    margin-bottom: 20px;
  }
  &__page{
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    width: 267px;
    margin-bottom: 120px;
  }
  &__error{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    //width: 557px;
    margin-bottom: 44px;
  }
  &__btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FEF8F8;
    background: #877CFF;
    border-radius: 20px;
    padding: 11px 72px;
    width: 232px;
    margin-bottom: 197px;
  }
  &__img{
    margin-left: -150px;
    margin-top: 204px;
    margin-bottom: 44px;
  }
}