.side__panel{
  width: 320px;
  min-height: 100vh;
  height: 100%;
  background: #EAE8FF;
  &-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 100px;
  }
  & div{
    cursor: pointer;
  }
  &-items{
    padding-top: 127px;
    padding-left: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
  &-item{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    font-weight: 600;
    color: #6860BC;
  }
  &-btn{
    background: #877CFF;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FEF8F8;
    padding: 11px 66px;
    margin-left: 40px;
  }
}