html{
  --color-logo: #FFCA12;
  --color-theme: #1DB3C3;
}

a{
  text-decoration: none;
  cursor: pointer;
}
button, input{
  border: none;
  outline: none;
  cursor: pointer;
}
textarea{
  resize: none;
  outline: none;
  border: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

body {
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.wrapper{
  display: flex;
}

.cur{
  cursor: pointer;
}
