.mywishes{
  position: relative;
  margin: 0 auto;
  & span{
    cursor: pointer;
  }
  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #6860BC;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
  }
  &__btn{
    background: var(--color-logo);
    border-radius: 30px;
    font-weight: 500;
    color: #1A1A1A;
    padding: 17px 29px 17px 64px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    position: absolute;
    top: 84px;
    right: 0px;
    & span{
      position: absolute;
      top: 12px;
      left: 24px;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    margin-bottom: 255px;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
    width: 900px;
    align-items: center;
    &-img{
      & img{
        width: 60px;
        height: 70px;
      }
    }
    &-about{
      display: flex;
      grid-gap: 20px;
      width: 430px;
    }
    &-title{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    &-desc{
      font-size: 10px;
      line-height: 12px;
    }
    &-link{
      font-size: 10px;
      line-height: 12px;
      color: #1DB3C3;
    }
    &-act{
      display: flex;
      grid-gap: 22px;
    }
    &-edit{
      margin-top: 5px;
    }
    &-fav{
      & img{
        height: 30px;
        width: 30px;
      }
    }
  }
}